<header>
    <a href="{{url_for('home')}}" class="logo">LUX <span class="text-accent">&</span> TAURUS</a>
    <nav>
        <ul id="nav-links">
            <li>
                <a href="{{ url_for('home', _anchor='services') }}" 
                   class="{{ 'text-accent' if request.endpoint == 'home' }}">Services</a>
            </li>

            <li>
                <a href="{{url_for('project')}}" 
                   class="{{ 'text-accent font-bold' if request.endpoint == 'project' }}">Projects</a>
            </li>

            <li>
                <a href="{{ url_for('agency')}}" 
                   class="{{ 'text-accent font-bold' if request.endpoint == 'agency' }}">Agency</a>
            </li>

            <li>
                <a href="{{ url_for('home', _anchor='contact') }}" 
                   class="text-accent {{ 'font-bold' if request.endpoint == 'home' }}">Let's Talk</a>
            </li>
        </ul>
    </nav>
    <div class="mobile-toggle" onclick="toggleMenu()">
        <i class="fas fa-bars"></i>
    </div>
</header>